.advantages {
  background: @bg-grey;
}

.advantages__slogan {
  min-height: 250px;
  padding-top: 1px;

  font-size: 24px;
  font-weight: 300;
  line-height: 28px;

  background: #ffffff;
}

.advantages__slogan-wrapper {
  .wrapper();
  margin-top: 39px;

  text-align: center;

  p:nth-child(2) {
    margin-top: 32px;
    margin-bottom: 0;
  }

}

.advantages__wrapper {
  .wrapper();

/*  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top;
*/
}

.advantages__list {
  .list-reset();
  padding-top: 47px;
  margin-bottom: 43px;
}

.advantages__item {
  margin-bottom: 33px;
}

.advantages__title {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  text-align: center;
}

.advantages__description {
  margin-top: 13px;

  text-align: center;
}

.advantages__footer {
  margin-bottom: 0;
  overflow: hidden;
}

.advantages__footer-image {
  display: block;
  margin: 0 auto;
  margin-bottom: -43px;

}


@media (min-width: @tablet-width) {
  .advantages__slogan-wrapper {
    width: 660px;
  }

  .advantages__wrapper {
    display: flex;

    width: 660px;
  }

  .advantages__list {
    width: 310px;
    margin-left: 0;
  }

  .advantages__footer {
    order: -1;
    width: 300px;
  }

  .advantages__footer-image {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__slogan-wrapper {
    .wrapper(960px, 10px);
  }

  .advantages__wrapper {
    .wrapper(960px, 10px);
  }

  .advantages__list {
    display: flex;

    width: auto;

    /* Временно для сетки */
    min-height: 734px;
  }

  .advantages__item {
    width: 300px;
  }

  .advantages__footer {
    display: none;
  }
}
