.advantages {
  outline: 2px dashed #cc1455;
}

.advantages__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  background: #ffffff;
}

.advantages__list {
  list-style: none;
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.advantages__description {

}

.advantages__footer {
  margin-bottom: 0px;
  outline: 2px dashed green;
  overflow: hidden;
}

.advantages__footer-image {
  margin-bottom: -46px;
}
