.advantages {
  background: @bg-grey;
}

.advantages__slogan {
  /* min-height: 250px; */
  padding-top: 40px;
  padding-bottom: 34px;

  font-size: 24px;
  font-weight: 300;
  line-height: 28px;

  background: #ffffff;
}

.advantages__slogan-wrapper {
  .wrapper();

  text-align: center;

  p {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
  }
/*
  p:nth-child(2) {
    margin-top: 32px;
    margin-bottom: 0;
  }
  */

}

.advantages__wrapper {
  .wrapper();

/*  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top;
*/
}

.advantages__list {
  .list-reset();
  padding-top: 47px;
  margin-bottom: 43px;
}

.advantages__item {
  margin-bottom: 33px;
}

.advantages__photo {
  display: none;

  width: 292px;
  height: 302px;
  margin: 0;
  margin-bottom: 60px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  text-align: center;
}

.advantages__description {
  margin-top: 0;
  text-align: center;
}

.advantages__footer {
  margin-bottom: 0;
  overflow: hidden;
}

.advantages__footer-image {
  display: block;
  margin: 0 auto;
  margin-bottom: -43px;

}


@media (min-width: @tablet-width) {
  .advantages__slogan {
    padding-top: 48px;
    padding-bottom: 48px;

    font-size: 40px;
    line-height: 48px;
  }

  .advantages__slogan-wrapper {
    width: 660px;

    p {
      margin-bottom: 0;
    }
  }

  .advantages__wrapper {
    display: flex;

    width: 660px;
  }

  .advantages__list {
    width: 320px;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 72px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .advantages__item {
    margin-bottom: 36px;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__description {
    text-align: left;
  }

  .advantages__footer {
    order: -1;
    width: 300px;
  }

  .advantages__footer-image {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__slogan {
    padding-top: 66px;

    font-size: 50px;
    line-height: 60px;
  }

  .advantages__slogan-wrapper {
    .wrapper(960px, 10px);
  }

  .advantages__wrapper {
    .wrapper(960px, 10px);
  }

  .advantages__list {
    display: flex;
    width: 940px;
    padding-left: 0;
    padding-top: 24px;
  }

  .advantages__item {
    width: 33.333%;
    margin: 0;

  }

  .advantages__photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__title {
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 23px;

    font-size: 30px;
    line-height: 30px;

    text-align: center;
  }

  .advantages__description {
    padding: 0 32px;

    font-size: 18px;
    line-height: 30px;

    text-align: center;
  }

  .advantages__footer {
    display: none;
  }
}
