.app-store {
  padding-top: 489px;

  color: #ffffff;

  a {
    color: inherit;
  }
}

.app-store__button {
  display: block;

  padding: 15px 34px;
  margin-bottom: 32px;
  //margin-top: 489px;

  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  border: 3px solid #ffffff;
  border-radius: 50px;
}

.app-store__list {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
  margin-bottom: 23px;

  .list-reset();
//  margin-top: 32px;
}

.app-store__item {
  display: flex;
  margin-right: 24px;

  &:first-child {
    margin-left: 30px;
  }
}

.app-store__link {
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;

  &--apple {
    background-image: url("../img/logo-apple.svg");
    background-position: top;
  }

  &--android {
    background-image: url("../img/logo-android.svg");
    background-position: bottom;
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    background-position: bottom;
  }

}

.app-store__note {
  //margin-top: 23px;
  text-align: center;

  font-weight: 300;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .app-store {
    padding-top: 0;
  }

  .app-store__button {
    //width: 300px;
    margin-top: 30px;

    text-align: center;
  }

  .app-store__list {
    margin-top: 46px;
  }

  .app-store__item {
    &:first-child {
      margin-left: 42px;
    }
  }

  .app-store__note {
    width: 300px;
    margin-top: 38px;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .app-store {
    padding-left: 0px;
    padding-right: 0px;
  }

  .app-store__button {
    height: 55px;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 52px;

    font-size: 21px;
  }

  .app-store__list {
    margin-top: 65px;
  }

  .app-store__note {
    margin-top: 56px;
  }
}
