.contacts {
  .wrapper();

  /* Временно для сетки */
  outline: 2px dashed blue;
  background: #ffffff;

//  background-repeat: no-repeat;
//  background-position: bottom;
//  background-image: url("../img/bg-map-mobile@1x.png");
}

.contacts__intro {
  padding-top: 42px;


  font-size: 24px;
  font-weight: 300;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }
}

.contacts__list {
  .list-reset();
  padding-top: 31px;
  padding-bottom: 36px;
}

.contacts__item {
  text-align: center;

  &:first-child {
    padding-bottom: 18px;
  }

  &:nth-child(2) {
    padding-bottom: 22px;
  }

}

.contacts__type {
  margin: 0;
  margin-bottom: 2px;

  font-size: 18px;
  font-weight: bold;

  text-align: center;
}

.contacts__text {
  display: inline;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  color: #d22856;
}

.contacts__map {
  height: 200px;
  margin: 0 -20px;

  background-repeat: no-repeat;
  background-position: top, bottom;
  background-image: url("../img/bg-triangle-white-footer.svg")
                  , url("../img/bg-map-mobile@1x.png");
  background-size: 100% auto;

  @media (min-resolution: @retina-dpi),
         (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-triangle-white-footer.svg")
                    , url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }

}

@media (min-width: @tablet-width) {
  .contacts {
    width: 660px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi),
           (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 700px auto;
    }

    min-height: 496px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    .wrapper(960px, 10px);
  }

  .contacts__item {
    &:nth-child(2) {
      order: 1;
    }
  }

  .contacts__map {
    background-size: cover;
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi),
           (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }

    min-height: 500px;
  }
}
