.contacts {
  .wrapper();

  /* Временно для сетки */
  outline: 2px dashed blue;
  background: #ffffff;
}

.contacts__intro {
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
  }
}

.contacts__list {
  .list-reset();
}

.contacts__type {
  font-size: 18px;
  font-weight: bold;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}

.contacts__map {
  margin-left: -20px;
  margin-right: -20px;

  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bg-map-mobile@1x.png");

  @media (min-resolution: @retina-dpi),
         (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 660px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi),
           (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 700px auto;
    }

    min-height: 496px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    .wrapper(960px, 10px);
  }

  .contacts__item {
    &:nth-child(2) {
      order: 1;
    }
  }

  .contacts__map {
    background-size: cover;
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi),
           (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }

    min-height: 500px;
  }
}
