.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  line-height: 18px;
  margin: 0 8px;
}

.copyright__link {
  width: 26.943px;
  height: 34.09px;
  margin: 0 8px;
}
