.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  height: 20px;
  margin: 0 8px;
  margin-top: -2px;

  line-height: 18px;
}

.copyright__link {
  width: 26.943px;
  height: 34.09px;
  margin: 0 8px;
  margin-top: -2px;

  fill: @cl-pink;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #bec2c7;
  }

  svg {
    width: 26.943px;
    height: 34.09px;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__link {
    margin: 0;
    margin-left: 7px;
    margin-top: 6px;
  }

  .copyright__text {
    margin-top: 4px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
    line-height: 18px;
  }
}
