.download {


  background: @bg-shop;
  /* Временно для сетки */
  /* min-height: 668px; */
}

.download__wrapper {
  .wrapper();

  padding-bottom: 34px;

  /* Временно для сетки */
  outline: 2px dashed green;
}

.download__shop {

  /* Временно для сетки */
  /*outline: 2px dashed green;*/
  min-height: 272px;
}

.download__slogan {
  display: none;

  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .download__wrapper {
    width: 660px;
  }

  .download__shop {
    width: 300px;
    margin-top: 102px;
  }

  .download__slogan {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .download__wrapper {
    .wrapper(960px, 10px);
  }
}
