.download {
  background: #1d2631;
  padding-bottom: 34px;
}

.download__picture {
  padding-top: 108px;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.download__shop {
  padding-left: 20px;
  padding-top: 28px;
  outline: 2px dashed green;
}
