.main-nav {
  /* Чтобы спозиционировать toggle */
  position: relative;

  /*min-height: 256px;*/

  color: #ffffff;
  background: @bg-menu;

}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: -47px;
  right: 0;

  padding: 0;
  width: 52px;
  height: 25px;

  background: none;

  cursor: pointer;
  border: none;
  outline: none;
 /*
  &:hover,
  &:active {
    background-color: @bg-menu;
  }
  */
}

.main-nav--opened .main-nav__toggle {
    top: -50px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 52px;
  height: 25px;

/*  background-color: @bg-menu; */
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav--closed .main-nav__toggle:active::before {
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

.main-nav--opened .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 25px;
  height: 25px;

/*  background-color: @bg-menu; */
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  /* Меню должно выйти из контейнера */
  margin: 0 -20px;
}

@media (max-width: @desktop-width - 1) {
  .main-nav--closed .site-list {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav--opened .main-nav__toggle,
  .main-nav--closed .main-nav__toggle
   {
    top: -68px;
    right: 0;
  }



}

@media (min-width: @desktop-width) {
  .main-nav {
  /*  min-height: 110px;*/
    width: 780px;

    background: none;
    margin-left: auto;
  }

  .main-nav__list {
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
