.main-nav {
  /* Чтобы спозиционировать toggle */
  position: relative;

  color: #ffffff;
  background: @bg-menu;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: -50px;
  right: 0;

  padding: 0;
  width: 24px;
  height: 24px;

  background: none;

  cursor: pointer;
  border: none;
  outline: none;

  fill: #ffffff;

  [data-menu-state="closed"] & {
    /*   размер header уменьшается -
    *   нужно сдвинуть toggle
    */
    top: -47px;

    width: 50px;
  }

  &:hover {
    fill: @cl-pink;
  }

  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
}

[data-menu-state="closed"] .main-nav__cross {
  display: none;
}

[data-menu-state="opened"] .main-nav__burger {
  display: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  /* Меню должно выйти из контейнера */
  margin: 0 -20px;
}

@media (max-width: @desktop-width - 1) {
  [data-menu-state="closed"] .site-list {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  /* data-menu-state добавлено для
  *  селективности
  */
  [data-menu-state="opened"] .main-nav__toggle,
  [data-menu-state="closed"] .main-nav__toggle {
    top: -68px;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 780px;

    background: none;
    margin-left: auto;
  }

  .main-nav__list {
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
