.page-header {
  position: relative;
  z-index: 1;

  color: #ffffff;
  background: @bg-menu;

  &[data-menu-state="closed"] {
    background: rgba(0, 0, 0, 0.3);
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  .wrapper();
}

.page-header__logo {
  height: 69px;
  padding-top: 22px;

  [data-menu-state="closed"] & {
    height: 66px;
  }

  img {
    width: 75px;
    height: 22px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: 660px;
  }

  .page-header__logo {
    /* Один пиксель - это рамка меню */
    height: 109px;
    padding-top: 27px;

    [data-menu-state="closed"] & {
      height: 110px;
    }

    img {
      display: block;
      width: 147px;
      height: auto;
    }
  }
}


@media (min-width: @desktop-width) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;

    .wrapper(960px, 10px);
  }

  .page-header__logo {
    width: 150px;

    /* не зависимо от состояния
     * улучшаем селективность
     */
    [data-menu-state] & {
      height: 110px;
    }
  }
}
