.page-footer {
  &--hidden {
    display: none;
  }
}

.page-footer__wrapper {
  .wrapper();

  padding: 40px 0;
}

.page-footer__logo {
  display: block;
  margin-bottom: 40px;

  img {
    display: block;
    width: 146.3px;
    height: 40.375px;
    margin: 0 auto;
  }
}

.page-footer__social {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;

    .wrapper(660px);
  }

  .page-footer__logo {
    width: 33.333%;
    margin-top: -15px;
    margin-bottom: 0;

    img {
      margin: 0;
    }
  }

  .page-footer__copyright {
    height: 127px;
    width: 33.333%;
  }

  .page-footer__social {
    width: 33.333%;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    .wrapper(960px, 10px);
    /* Временно для сетки */
    min-height: 225px;
  }
}
