.page-header {

  color: #ffffff;
  background: @bg-menu;
  &.main-nav--closed {
    background: @bg-header;
  }
}

/*
.page-header.main-nav--closed {
  background: @bg-header;
}
*/

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  .wrapper(320px; 0);

  /* Временно для сетки */
  /* outline: 2px dashed #cc1455; */
}

.page-header__logo {
  height: 70px;

  margin-left: 20px;

  img {
    width: 75px;
    height: 66px;
  }
}


.main-nav--closed  .page-header__logo {
  height: 67px;
}


@media (min-width: @tablet-width) {
  .page-header {
      &.main-nav--opened {
        background: @bg-menu;
      }
      &.main-nav--closed {
        background: rgba(242, 242, 242, 0.3);
      }
  }


  .page-header__wrapper {
    width: 660px;
  }

  .page-header__logo {
    height: 110px;
  }

  .main-nav--closed  .page-header__logo {
    height: 110px;
  }
}


@media (min-width: @desktop-width) {
  .page-header {
    background-color: rgba(242, 242, 242, 0.3);
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;

    .wrapper(960px, 10px);
  }

  .page-header__logo {
    width: 150px;
  }
}
