.page-main__welcome {
  margin-top: -66px;

  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #ffffff;
  background-color: @bg-menu;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-main__welcome-wrapper {
  .wrapper();

  padding-top: 95px;
  padding-bottom: 83px;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}


@media (min-width: @tablet-width) {
  .page-main__welcome {
    margin-top: -110px;

    font-size: 50px;
    line-height: 60px;

    background-position: top;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-main__welcome-wrapper {
    width: 660px;

    padding-top: 179px;
    padding-bottom: 140px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__welcome {
    background-position: top;
    background-size: cover;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-main__welcome-wrapper {
    .wrapper(960px, 10px);

    padding-top: 172px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 102px;
  }
}
