.photo-editor {
  background: #f2f2f2;

  outline: 2px dashed magenta;
}

.photo-editor__tools-list {
  list-style: none;
}

.photo-editor__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  &--post {
    color: #d22856;
  }

  &--cancel {
    color: #283645;
  }

}
