.photos {
  .wrapper();

  /* Временно для сетки */
  outline: 2px dashed orange;
}

.photos__slogan {
  text-align: center;

  p {
    margin: 0;
    padding: 0;
  }

  /* Временно для сетки */
  min-height: 184px;
}

.photos__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .photos {
    width: 660px;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__item {
    width: 300px;
    &:first-child {
      width: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .photos {
    .wrapper(960px, 10px);
  }
}
