.price {
}

.price__wrapper {
  .wrapper();
  overflow: hidden;
  /* Временно для сетки */
  outline: 2px dashed orange;
}

.price__plan {
  background: #283645;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;

  &:first-child {
    display: none;
  }
}

.price__name {
  font-size: 18px;
  font-weight: bold;
}

.price__amount {
  font-size: 24px;
  font-weight: 300;
}

.price__option {
  line-height: 30px;
  text-transform: uppercase;

  &--nosign {
    display: none;
  }
}
