.reviews {
  .wrapper();
  /* Временно для сетки */
  //outline: 2px dashed #cc1455;
}

.reviews__author-name {
  display: block;

  margin-bottom: 13px;

  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

.reviews__author-about {
  display: none;
}

.reviews__item {
  display: block;

  margin: 0;
  padding: 0;
  padding-top: 42px;

  text-align: center;
}

.reviews__text {
   margin: 0;
   padding: 0;
   margin-bottom: 33px;

   line-height: 30px;

}

.reviews__toggles {
  padding-bottom: 41px;

  /* Цвет рамки неактивных переключателей*/
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 660px;
  }

  .reviews__author-about {
    display: block;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    .wrapper(960px, 10px);
  }
}
