.site-list {
  .list-reset();
  border-top: 1px solid #010101;
}

.site-list__item {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;

  a {
    display: block;

    padding-top: 15px;
    padding-bottom: 15px;


    color: inherit;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #010101;
  }

  a[href] {
    &:hover {
      color: @cl-hover;
    }

    &:active {
      color: rgba(210, 40, 86, 0.3);
    }
  }
}


@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
/*    align-content: center;*/
/*    align-items: center;*/
    justify-content: flex-end;
    padding-top: 44px;

  }

  .site-list__item {
    height: 30px;
    padding: 0;
  /*  height: 30px; */

    margin-left: 80px;

    font-weight: normal;
    text-transform: none;
    /*отодвигаем нижнее подчеркивание*/
    line-height: 18px;
    &--active {
      border-bottom:  2px solid #ffffff;
    }

    &:first-child {
      margin-left: 20px;
    }

    a {
      padding: 0;
      border: none;
    }
  }
}
