.site-list {
  .list-reset();
}

.site-list__item {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.77;
  text-transform: uppercase;
  text-align: center;
}

.site-list__item a {
  color: inherit;
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
  }
}
