.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .list-reset();
}

.social__item {
  display: flex;
  width: 52px;
  height: 52px;
  margin: 0 6px;

  border: 4px solid;
  border-radius: 52px;
  border-color: rgba(40, 54, 69, 0.1);

  &:hover {
    border-color: rgba(40, 54, 69);
  }

  &:active {
    border-color: rgba(40, 54, 69, 0.1);
  }
}

.social__link {
  margin: 0;
  padding-top: 12px;

  fill: @cl-pink;

  &--twitter {
    width: 17.5px;
    height: 14.663px;
    padding-left: 15px;

    svg {
      width: 17.5px;
      height: 14.663px;
    }
  }

  &--facebook {
    width: 8.673px;
    height: 18.944px;
    padding-left: 17px;

    svg {
      width: 8.673px;
      height: 18.944px;
    }
  }

  &--youtube {
    width: 14.64px;
    height: 13.96px;
    padding-left: 15px;

    svg {
      width: 14.64px;
      height: 13.96px;
    }
  }

  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .social__link {
    padding-top: 12px;

    &--twitter {
      padding-left: 15px;
    }

    &--facebook {
      padding-left: 17px;
    }

    &--youtube {
      padding-left: 15px;
    }
  }
}
