html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 1.71;

  background: #ffffff;
  color: #283645;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
